@tailwind base;
@tailwind components;
@tailwind utilities;


  
  /* Si tienes otras variantes como Bold, Thin, etc., también las defines de la misma manera */
  body {
    font-family: 'robot', sans-serif;
    
  }
  
  /* @font-face {
   font-family: 'robot';
   src: url('./Components/Fonts/Prida01Light.') format('woff2');
  }

@font-face {
  font-family: 'Geist Sans';
  src: url('src/assets/fonts/GeistVariableVF.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
} */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
