.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.my-custom-calendar {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.selected-date {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}
.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.todo-item.completed {
  text-decoration: line-through;
  color: gray;
}

.todo-item button {
  margin-left: 10px;
}

.todo-input {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
}
.diary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.entry-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input {
  margin: 5px 0;
  padding: 10px;
  font-size: 16px;
}

.add-button {
  padding: 10px 15px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}

.diary-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.diary-table th, .diary-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.diary-table th {
  background-color: #f2f2f2;
}
