#poker-table {
  border-collapse: collapse;
  margin: 20px auto;
  user-select: none; /* Evitar la selección de texto */
  border-radius: 50%;
}

#poker-table td {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 25%;
  cursor: pointer;
  outline: 1px solid white;  /* Borde exterior */
}

#poker-table td:hover {
  background-color: #f9fd00;
}

#poker-table .selected {
  background-color: #b32525;
  border-color: #030303;
  color: #fff;
  border-radius: 20%;
  cursor: pointer;
  outline: 1px solid white; 
}

#poker-table .selected:hover {
  background-color: #b32525;
  border-color: #000000;
}

#selected-hands {
  margin-top: 20px;
}

#selected-hands h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

#selected-hands-list {
  list-style: none;
  padding: 0;
}

#selected-hands-list li {
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}
