#poker-table {
    border-collapse: collapse;
    margin: 20px 0;
   ;
  }
  
  #poker-table td {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20%;
    cursor: pointer;

  }
  
  #poker-table td:hover {
    background-color: rgb(255, 238, 0);
  }
  
  #poker-table td.selected {
    background-color: rgb(255, 238, 0);
    color: #000000
    ;
  }
  
  #positions-selector {
    margin-bottom: 20px;
  }
  
  #positions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .position {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .position:hover {
    color:yellow
  }
  
  .position.selected-position {
    background-color: #00ff00;
    color: #000; /* Opcional: cambia el color del texto */
  }
  
  #selected-items {
    margin-top: 20px;
  }
  
  #selected-cards-list, #selected-positions-list {
    list-style-type: none;
    padding: 0;
  }
  
  #selected-cards-list li, #selected-positions-list li {
    margin: 5px 0;
  }
  